.super-mario {
  width: 200px;
  position: absolute;
  left: 50px;
  top: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 550px;
  left: 100px;
}

.baloon {
  position: absolute;
  top: 200px;
  left: 250px;
  
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 240px;
  left: 300px;
  z-index: 1;

}

.bowser {
  width: 200px;
  position: absolute;
  left: 550px;
  top: 320px;
  

}